@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header-content {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.header-content > h1 {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
}
.header-content span {
  color: #ff42a5;
}
.header-content img {
  width: 86.041px;
  height: 40px;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 46px;
}
.navUl {
  width: 45%;
}
.navUl ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 90%;
  gap: 20px;
}
.navUl li {
  list-style: none;
  margin: auto;
}
.navUl a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.btn-primary {
  width: 250px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
/*  main section start */

main {
  width: 100%;
  height: 5900px;
  background: #fff;
}
.banner-section {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
  height: 700px;
  margin: 0;
  background: linear-gradient(
    235deg,
    rgba(140, 87, 238, 0.03) 3.9%,
    rgba(241, 68, 174, 0.03) 100.56%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-top {
  width: 60%;
  padding-top: 140px;
}
.banner-top > h3 {
  padding: 0;
  margin: 0;
  color: #0b0223;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}
.banner-top > h1 {
  padding: 0;
  margin: 0;
  font-size: 95px;
  font-style: normal;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-top > p {
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.sign-in {
  border: 0px;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
.go-rogue {
  border: 0px solid;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.img-container {
  width: 50%;
  padding-left: 60px;
  bottom: 0;
}
/* gamer */
.gamer {
  width: 100%;
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.gamer-section {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gamer-img {
  width: 100%;
}
.gamer-img > img {
  width: 80%;
  padding-top: 55px;
  padding-left: 180px;
}
.gamer-title {
  width: 30%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 200px;
  gap: 5px;
}
.gamer-title > h1 {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-title > p {
  width: 520px;
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.gamer-title > h2 {
  text-align: right;
  color: #534c64;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.our-purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
/* main gaming section */
main {
  width: 100%;
  height: auto;
}
.main-gaming {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
.main-gaming-top {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 100px;
}
.main-gaming-top > h1 {
  margin: 0;
  padding: 0;
  color: #0b0223;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-gaming-top > p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.main-gaming-img {
  width: 100%;
  margin: auto;
}
.main-img {
  width: 100%;
  display: flex;
  gap: 16px;
  padding-top: 30px;
}
.rectangle-4,
.rectangle-5,
.rectangle-6,
.rectangle-7 {
  width: 342px;
  height: 400px;
  text-align: start;
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.rectangle-7 {
  position: relative;
  display: inline-block;
}
#gameImage {
  display: block;
  height: auto; /* Adjust as needed */
  transition: filter 0.3s;
}
.overlay {
  display: flex;
  flex-direction: column;
}
.overlay > p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-7 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.rectangle-7:hover .overlay {
  opacity: 1;
}

.play-button {
  font-size: 50px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.play-button:focus {
  outline: none;
}
/* play game section */
.play-instantly {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: flex-end;
}
.play-games {
  width: 80%;
  height: 600px;
  display: flex;
}
.play-games-title {
  width: 25%;
  margin: auto;
  padding-top: 200px;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.h1-title {
  background: linear-gradient(180deg, #f948b2 100%, #8758f1 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-games-title > h1 {
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-top: 40px;
  margin: 0;
}

.play-games-title > p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.game-games-img {
  width: 90%;
}
.play-games-img-mainImg {
  width: 70%;
  padding-top: 80px;
  padding-right: 200px;
}
.play-games-img-btmImg {
  width: 342px;
  padding: 40px;
  position: relative;
  bottom: 330px;
  right: 190px;
}
/* play games online section */
.play-games-online {
  width: 80%;
  height: 900px;
  display: flex;
  justify-content: flex-start;
}
.play-online {
  width: 90%;
  height: 600px;
  display: flex;
}
.game-games-img {
  width: 70%;
}
.play-online-img-mainImg {
  width: 90%;
  padding-left: 155px;
  display: flex;
  justify-content: flex-end;
}
.play-online-img-btmImg {
  width: 342px;
  padding: 40px;
  position: relative;
  top: 360px;
  right: 230px;
}
.play-online-title {
  margin: 0;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.play-online-title > h1 {
  width: 430px;
  height: 200px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-top: 200px;
  margin: 0;
}
.play-online-title > p {
  margin: 0;
  padding: 0;
  width: 430px;
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.playGames {
  background: linear-gradient(180deg, #f948b2 100%, #8758f1 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* career section */
.career-section {
  width: 100%;
  height: 800px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.career-card {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: auto;
  padding: 0;
}
.career-title {
  padding: 100px;
  width: 600px;
  margin: 0;
}
.career-title > h1 {
  width: 400px;
  color: #fff;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-left: 60px;
}
.career-title > p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-left: 60px;
}
.career-list {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding-left: 60px;
  padding-top: 10px;
  list-style: none;
}
.list-country {
  text-align: end;
}
.see-all-position {
  border: 0 solid;
  display: inline-flex;
  padding: 21px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  background: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 50px;
}
.seeAll {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* category section */
.categories {
  width: 100%;
  height: 427px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.category {
  padding: 120px 280px 120px 240px;
}
.category1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 27px;
}
.category2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 27px;
  margin: 0;
  padding-left: 130px;
}

.rectangle-11,
.rectangle-18 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 243px;
  border-radius: 50px;
  background: #fff;
}
.rectangle-13 {
  width: 248px;
  gap: 16px;
  display: flex;
  margin: auto;
  padding: 10px 0px 10px 10px;
  border-radius: 50px;
  border: 2px solid var(--Linear, #ff42a5);
  background: #fff;
}
.rectangle-13 > h3 {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-12 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 281px;
  border-radius: 50px;
  background: #fff;
}
.rectangle-14,
.rectangle-16 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 295px;
  border-radius: 50px;
  background: #fff;
}
.rectangle-15 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 231px;
  border-radius: 50px;
  background: #fff;
}
.rectangle-17 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 317px;
  border-radius: 50px;
  background: #fff;
}
.rectangle-19 {
  display: flex;
  gap: 16px;
  margin: auto;
  padding: 10px 0px 10px 10px;
  width: 262px;
  border-radius: 50px;
  background: #fff;
}
.rectangle > img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
/* footer section */
.footer {
  width: auto;
  height: 400px;
  text-align: center;
  padding: 20px;
  background-color: #0a001a;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-logo > img {
  width: 80px;
  height: 40px;
}

.footer-logo > h1 {
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.footer-logo > h1 > span {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-nav,
.footer-social,
.footer-links {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.footer-nav {
  color: #fff;
  text-align: center;
  gap: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.footer-links {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 60px;
}
.footer-nav > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.footer-links > a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-nav > a:hover,
.footer-links > a:hover {
  text-decoration: underline;
}

.footer-social > a > img {
  width: 24px;
  height: 24px;
}

.footer-social a:hover img {
  filter: brightness(1.2);
}
.footer-social {
  gap: 20px;
  padding-top: 60px;
}
.footer-social > button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: filter 0.3s;
}
.footer-links {
  margin-top: 20px;
  padding-top: 40px;
}

.footer-links a {
  font-size: 12px;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #aaaaaa;
}
/*  */
/* .hero11 {
  width: 80%;
  margin: auto;
  background-color: red;
  height: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.heroContent {
  background-color: orange;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.heroImg {
  height: 100%;
  bottom: 0;
}
.heroContent h3 {
  color: #0b0223;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.textCont {
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textCont > h3 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #0b0223;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.textCont > h1 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.textCont > p {
  width: 100%;
  margin: 0;
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
} */
